html, body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
}

h1 {
    font-size: 1.5rem;
}

main, header, footer {
    margin: 0 auto;
    width: 100%;
}

header {
  min-height: 60px;
}

section::before,
.top-nav::before,
section::after,
.top-nav::after {
  display: table;
  content: '';
  clear: both;
}

.brand img {
  width: 70px;
  /*display: inline;*/
  vertical-align: middle;
}

.brand, .pageName {
  position: absolute;
  padding-left: 2%;
  float: left;
  line-height: 70px;
  /*text-transform: uppercase;*/
  font-size: 2em;
}

.brand a, .brand a:visited {
  color: rgb(255, 97, 40);/*rgb(255, 166, 0);*/
  /*text-shadow: #343a40 -1px 0 1px;*/
  font-weight: bold;
  text-decoration: none;
}
.pageName a, .pageName a:visited {
  color: #2a4b6b;
  font-weight: bold;
  text-decoration: none;
}

.navigation {
  position: fixed;
  height: 70px;
  margin: 0 auto;
  width: 100%;
  background: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 0px 0px 2px #444;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 100;
}
      
.top-nav ul, .side-nav ul, .side-nav2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.top-nav ul {
  background: linear-gradient(#fff, #fff, #eee); /*#262626;*/
}

/*
.side-nav ul li a:hover {
  background: #039ec5;
  color:  #ffffff;
}
*/

.top-nav ul li a, .side-nav ul li a {
  display: block;
  width: 100%;
  padding: 0 20px;
  text-decoration: none;
  font-weight: bold;
}

.top-nav ul li a {color: #2581dc;}
.side-nav ul li a {color:white;}

.top-nav ul li a:hover {
  background: orange;/*#2581dc; /*link-hover-color*/
  background: linear-gradient(#007bff, #2581dc);
  color:#ffffff; /* nav-font-color */
}

.top-nav ul li a {
  /*background: transparent; /*#262626;*/
  line-height: 70px; /*nav-height*/
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #2581dc;/*#262626;*/
    height: 70px;
    width: 70px;
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span, /*#side-nav-toggle span,*/
#nav-toggle span:before, /*#side-nav-toggle span:before,*/
#nav-toggle span:after/*, #side-nav-toggle span:after*/ {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

  #nav-toggle span:before {
    top: -10px;
  }
  
  #nav-toggle span:after {
    bottom: -10px;
  }
  
  #nav-toggle.active span {
    background-color: transparent;
  }
  
  #nav-toggle.active span:before, 
  #nav-toggle.active span:after {
    top: 0;
  }
  
  #nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  #nav-toggle.active span:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.ht {
  min-height: calc(100vh - 70px);
  display: inline-block;
}

.pb-10 {padding-bottom: 10px;}
.pb-10 {padding-bottom: 100px;}
.mt15{margin-top:15px;}

.banner1 {
  width: 100%;
  background-image: url('../images/cars2.jpg');
  background-position: center;
  background-size: cover;
}

.bannerBottom {
  margin-top: 70px;
  width: 100%;
  min-height: calc(100vh - 50px);
  display: inline-block;
  text-align: center;
  font-size: 5rem;
  background: url('../images/smoke2.png');
  background-position: center;
  background-size: cover;
}
.bannerText {
  width: 100%;
  min-height: 100px;
  margin: auto;
  padding: 5px 0px 5px 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bannerText div {
  display: block;
}
.bannerText div:nth-child(1) {
  color: #ffc104;
  text-shadow: #000 -1px 0 20px;
  padding-top: 60px;
}
.bannerText div:nth-child(2) {
  color: white;
  font-style: normal;
  padding-top: 30px;
}
.bannerText div:nth-child(3) {
  padding-top: 30px;
}
.bannerText div:nth-child(3) a {
  padding: 20px;
  background: linear-gradient(#007bff, #2581dc);
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
.bannerText div:nth-child(3) a:hover {
  background: orange;
  box-shadow: white 0px 0px 5px; 
}

/*adverts*/
.ad-page, .dash-page {
  background: rgb(245, 247, 247);/*#eeeeee;/*#e0ecfab0;*/
  min-height: calc(100vh - 70px);
}

.dash-page {
  vertical-align: text-top;
}

/*home page*/
.indexContentHeader {
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 2rem;
  background-color: orange;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: bold;  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home-page {
  width: 100%;
  min-height: calc(100vh - 70px);
}

.index-page-content {
  max-width: 100%;
  margin: auto;
}

.home-page-content {
  max-width: 1200px;
  margin: auto;
}

.home-page-body {
  padding: 20px 2% 0px 2%;
  width: 100%;
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  min-height: 10px;
  margin-bottom: 20px;
}

.ad-box-container {
  display: block;
}

.ad-box {
  max-width: 270px;
  width: 100%;
  box-shadow: 0px 0px 8px #cccccc;
  border-radius: 3px;
  margin: 5px 1rem 0px auto;
  padding-bottom: 5px;
  display: inline-block;
  vertical-align: top;
}

.ad-box div {
  max-width: 100%;
}

.ad-box-img {
  height: 170px;
}

.ad-box-img img {
  border-radius: 3px 3px 0px 0px;
  width: 100%;
  height: 100%;
}

.ad-box-info {
  display: block;
}

.ad-box-title,
.ad-box-price,
.ad-box-available,
.ad-box-buttons,
.ad-box-button,
.ad-box-delete-button,
.ad-box-details {
  text-align: left;
  padding: 4px;
  width:100%;
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ad-box-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ad-box-title a {
  width: 100%;
  color: #039ec5;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
}

.ad-box-title a:hover {
  text-decoration: underline;
}
.ad-box-price span{font-weight:bold;}
.ad-box-price span:nth-of-type(1) {
  color: #2a4b6b;
}

.ad-box-price span:nth-of-type(2) {
  color: #039ec5;
}
.ad-box-available {
  text-transform: capitalize;
  font-weight: 700;
  color: #2a4b6b;
}

.ad-box-available span {
  color: orange;
}
.ad-box-buttons {
  width: 100%;
  display: block;
}
/*.ad-box-button,
.ad-box-delete-button {text-align: center;}*/
.ad-box-buttons button {
  width: 46%;
  padding: 4px;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  /*background: rgb(255, 97, 40);
  border: 1px solid rgb(255, 97, 40);*/
  margin: 2px 2%;
}

.ad-box-buttons button:nth-child(1) {
  background: #2581dc;
  border: 1px solid #2581dc;
}

.ad-box-buttons button:nth-child(1):hover {
  background: #007bff;
}

/*.ad-box-buttons button:hover, 
.ad-box-buttons button:visited {
  background: #2581dc;
  border-color:#039ec5;
}*/

.ad-box-buttons button:nth-child(2) {
  padding: 4px;
  color: black;
  border: 1px solid #343a40;
  border-radius: 2px;
}
.ad-box-buttons button:nth-child(2):hover {
  color: white;
  background: orangered;
  
  border: 1px solid rgb(255, 97, 40);
}
/*.ad-box-delete-button button {
  width: 80%;
  padding: 4px;
  background: #039ec5;
  color: white;
  border: 1px solid #039ec5;
  border-radius: 2px;
  cursor: pointer;
}*/

.ad-box-buttons button[class=".ad-box-delete-button"] {
  border: 1px solid rgb(6, 226, 6);
}
/*dashboard page*/

.dashboard {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto 0px;
  background: #ffffff;
  /*box-shadow: 0px 0px 8px #cccccc;*/
  min-height: calc(100vh - 70px);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dashMenu {
  padding: 15px 2% 0px 2%;
  display: none;
  width: 100%;
  min-height: 20px;
}

.dashMenu span {
  color: white;
  display: block;
  width: 150px;
  padding: 0px 2% 0px 2%;
  line-height: 30px;
  /*background: #2a4b6b;*/
  background: #2581dc;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-align: center;
}

.dashMenu span::after {
  content: ' ▾';
}

.dashboard-header {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding: 15px 2% 15px 2%;
}

.dashboard-header a:nth-child(1) {
  border-top:1px solid #039ec5;
}

.dashboard-header a {
  background: #039ec5;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin: auto;
  width:200px;
  text-decoration: none;
}

.dashboard-header a:hover {
  background: #2581dc;
}

.dashboard-header h1, h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
    /*color:#2a4b6b;*/
  color: #2581dc;
}

.dashboard-body {
  width: 100%;
  min-height: 200px;
  padding: 0px 2% 0px 2%;
}

.all-tabs{
  width: 100%;
  min-height: 200px;
  display: block;
}

.dtab {
  width: 100%;
  min-height: 400px;/*calc(100vh - 148px);*/
  display: inline-block;
}

.dtab-header {
  padding: 5px 1% 5px 1%;
  /*background: #2a4b6b;*/
  background: #039ec5;
  margin: auto;
  width: 100%;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.dtab-header h3 {
  margin: 0px;
  padding: 0px;
  display: block;
}

.dtab-header button {
  margin: 2px 0%;
  width: 100px;
  padding: 4px;
  border: 1px solid white;
  border-radius: 2px;
}

.dtab-header button:hover {
  color: white;
  background: rgb(255, 97, 40);
}

.dtab-header button:active {
  border-color: white;
}

#dtab2, #dtab3 {
  display: none;
}

#myAdsDiv {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  width: 100%;
  min-height: 10px;
  margin-bottom: 20px;
}

.ad-block-container {
  display: block;
}

.ad-block {
  max-width: 270px;
  width: 100%;
  box-shadow: 0px 0px 8px #cccccc;
  border-radius: 3px;
  margin: 5px 1rem 0px auto;
  padding-bottom: 5px;
  display: inline-block;
  vertical-align: top;
}

.ad-block div {
  max-width: 100%;
}

.ad-block-img {
  height: 170px;
}

.ad-block-img img {
  border-radius: 3px 3px 0px 0px;
  width: 100%;
  height: 100%;
}

.ad-block-info {
  display: block;
}

.ad-block-title,
.ad-block-price,
.ad-block-update-price-form,
.ad-block-update-buttons,
.ad-block-details {
  text-align: left;
  padding: 2px;
  width:100%;
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ad-block-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ad-block-title a {
  width: 100%;
  color: #039ec5;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

.ad-block-title a:hover {
  text-decoration: underline;
}
.ad-block-price span{font-weight:bold;}
.ad-block-price span:nth-of-type(1) {
  color: #2a4b6b;
}

.ad-block-update-price-form {
  display: none;
  padding: 12px 2px;
}

#updatePriceForm {
  width:100%;
  padding: 2px 2px 4px 2px;
  min-height: 20px;
  background: #d6e1ec;
  margin: auto;
  text-align: center;
}

#updatePriceForm input[type="number"] {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  margin: auto;
}

#updatePriceForm input[type="submit"] {
  vertical-align: middle;
  display: inline-block;
  width: 60%;
  margin: 0px auto;
  background: rgb(255, 97, 40);
  border:1px solid rgb(255, 97, 40);
  border-radius: 2px;
  color: white;
  cursor: pointer;
  padding: 1px 0px 1px 0px;
  line-height: 15px;
}

.ad-block-price span:nth-of-type(2) {
  color: #039ec5;
}

/*.ad-block-update-price-form{
  
}*/

.ad-block-update-buttons {
  text-align: center;
}

.ad-block-update-buttons button {
  width: 44%;
  margin: auto 2% auto 2%;
}

.ad-block-update-buttons button {
  padding: 3px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  background: rgb(255, 97, 40);
  border: 1px solid rgb(255, 97, 40);
}

.ad-block-update-buttons button:nth-child(2):hover {
  background: #039ec5;
  border: 1px solid #039ec5;
}

/* purchase order section*/
#myPurchaseDiv {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  width: 100%;
  min-height: 10px;
  margin-bottom: 20px;
}

.po-block-container {
  display: block;
}

.po-block {
  max-width: 270px;
  width: 100%;
  box-shadow: 0px 0px 8px #cccccc;
  border-radius: 3px;
  margin: 5px 1rem 0px auto;
  padding-bottom: 5px;
  display: inline-block;
  vertical-align: top;
}

.po-block div {
  max-width: 100%;
}

.po-block-img {
  height: 170px;
}

.po-block-img img {
  border-radius: 3px 3px 0px 0px;
  width: 100%;
  height: 100%;
}

.po-block-info {
  display: block;
}

.po-block-title,
.po-block-price,
.po-block-update-price-form,
.po-block-update-buttons,
.po-block-details {
  text-align: left;
  padding: 2px;
  width:100%;
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.po-block-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.po-block-title a {
  width: 100%;
  color: #039ec5;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

.po-block-price {
  font-size: 15px;
}

.po-block-price span:nth-of-type(1) {
  color: #2a4b6b;
}

.po-block-price span:nth-of-type(2) {
  color: #039ec5;
}

.po-block-details {
  font-size: 15px;
}

.po-block-details div span:nth-child(1) {
  color: #2a4b6b;
}

.po-block-details div span:nth-child(2) {
  color: #039ec5;
  text-transform: capitalize;
}

.po-block-details div button {
  float: right;
  width: 44%;
  margin: auto 2% auto 2%;
  padding: 3px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  background: rgb(255, 97, 40);
  border: 1px solid rgb(255, 97, 40);
}

.po-block-update-price-form {
  display: none;
  padding: 2px 2px 4px 2px;
}

#updatepoPriceForm {
  width:100%;
  padding: 2px 2px 4px 2px;
  min-height: 20px;
  background: #d6e1ec;
  margin: auto;
  text-align: center;
}

#updatepoPriceForm input[type="number"] {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  margin: auto;
}

#updatepoPriceForm input[type="submit"] {
  vertical-align: middle;
  display: inline-block;
  width: 60%;
  margin: 0px auto;
  background: rgb(255, 97, 40);
  border:1px solid rgb(255, 97, 40);
  border-radius: 2px;
  color: white;
  cursor: pointer;
  padding: 1px 0px 1px 0px;
  line-height: 15px;
}

/*End purchase order section*/

.bw {background: white;}

footer {
  min-height: 200px;
  background:#343a40;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
}

footer div {
  padding: 10px;
  float: left;
}

@media screen and (max-width: 864px) {
  .dashboard-header a {
    width:150px;
  }
}
  
@media screen and (min-width: 800px) {
    h1 { font-size: 2rem; }
    article { float: left; }
    .top-nav { float: right; }
    .top-nav ul li {
        float: left;
        /*position: relative;*/
    }
    .nav-list { display: block !important;}

    /* For desktop: */
    .col-1, .akol-1 {width: 8.33%;}
    .col-2, .akol-2 {width: 16.66%;}
    .col-3, .akol-3, .dkol-3 {width: 25%;}
    .col-4, .akol-4 {width: 33.33%;}
    .col-5, .akol-5 {width: 41.66%;}
    .col-6, .akol-6 {width: 50%;}
    .col-7, .akol-7 {width: 58.33%;}
    .col-7-5, .akol-7-5{width: 62.5%}
    .col-8, .akol-8 {width: 66.66%;}
    .col-9, .akol-9 {width: 75%;}
    .col-10, .akol-10 {width: 83.33%;}
    .col-11, .akol-11 {width: 91.66%;}
    .col-12, .akol-12 {width: 100%;}
}

/* Extra small devices "mobile phones" */
@media only screen and (max-width: 799px) {
    .top-nav {
        width: 100%;
        padding: 70px 0 15px;
      }

    .top-nav ul {
        display: none;
        position: absolute;
        width: 100%;
        padding-bottom: 2px;
        border-bottom: 1px solid #bbb;
    }

    .top-nav ul li {
        float: none;
        width: 100%;
      }

    .top-nav ul li a {
      padding: 15px 2%;
      line-height: 20px;
    }
      .ht {
        min-height: calc(100vh - 95px);
        display: inline-block;
      }
      .bannerBottom {
        width: 100%;
        min-height: calc(100vh - 70px);
      }
      .bannerText {
        padding-top: 50px;
        font-size: 4.5rem;
      }

    .dashboard {
      width:100%;
    }

    .nav-mobile {
        display: block;
    }
/*
    .ad-block-info-child section div:first-of-type {
      width: 100px;
      padding: 4px;
    }

    .ad-block-info-child input[type='number'] {width: 122px;}*/
}

@media only screen and (max-width: 659px) {
  .dashboard-header a {
    width:100px;
  }
}

@media only screen and (max-width: 640px) {
  .searchBoxBody select {
    width: 100%;
  }
  .searchBoxBody input[type="number"] {
    width: 100%;
  }
}

@media only screen and (max-width: 615px) {
  .ad-block-container, .ad-box-container {
    text-align: center;
  }
}

@media only screen and (max-width: 447px) {
  .dashMenu {
    padding: 15px 2% 5px 2%;
    display: inline-block;
  }
  .dashboard-header {
    padding: 0px 2% 15px 2%;
    display: none;
  }
  .dashboard-header a {
    width:100%;
    background: #fff;
    color: #2a4b6b;
    border-radius: 0px;
    text-align: left;
    border-bottom:1px solid #039ec5;
  }
  .dashboard-header a:hover {
    background: #039ec5;
    color:#fff;
  }
}

.rocolor {color:orangered;}
 
/* Extra small devices "Tabs" */
@media only screen and (max-width: 992px) {} 
/* Extra small devices "Tabs" */
@media only screen and (max-width: 1200px) {}
 
@media only screen and (max-width: 1920px) {}
