html, body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
}

h1 {
    font-size: 1.5rem;
}

main, header {
    margin: 0 auto;
    width: 100%;
}

header {
  min-height: 60px;
}

section::before,
nav::before,
section::after,
nav::after {
  display: table;
  content: '';
  clear: both;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  /*text-transform: uppercase;*/
  font-size: 1.4em;
}

.brand a, a:visited {
  color: #ffffff;
  text-decoration: none;
}

.navigation {
  height: 70px;
  margin: 0 auto;
  /*background: #2a4b6b; /*#262626;*/
  background: linear-gradient(#5786b6, #2a4b6b);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /*box-shadow: 0px 5px 5px #ccc;*/
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
      
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: #2a4b6b; /*#262626;*/
}

nav ul li a:hover {
    background: #2581dc; /*link-hover-color*/
    background: linear-gradient(#2581dc, #2581dc);
    color:  #ffffff; /* nav-font-color */
}

nav ul li a {
  display: block;
  width: 100%;
  padding: 0 20px;
  line-height: 70px; /*nav-height*/
  background: transparent; /*#262626;*/
  color: #ffffff; /*nav-font-color*/
  text-decoration: none;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
  #nav-toggle span:before {
    top: -10px;
  }
  
  #nav-toggle span:after {
    bottom: -10px;
  }
  
  #nav-toggle.active span {
    background-color: transparent;
  }
  
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  
  #nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  #nav-toggle.active span:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.ht {
  min-height: 100vh;
}

.banner1 {
  background-image: url('../images/cars2.jpg');
  background-position: center;
  background-size: cover;
}

/*adverts*/
.ad-page, .dash-page {
  background: #e0ecfab0;
  min-height: calc(100vh - 70px);
}

/*dashboard page*/
.dashboard {
  max-width: 1000px;
  margin: 10px auto 0px;
  background: #ffffff;
}

.dashboard-header {
  margin: auto;
  width: 100%;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dashboard-header h1, h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
    /*color:#2a4b6b;*/
  color: #2581dc;
}

.dashboard-body {
  width: 100%;
}

.dash-tab-box {
  vertical-align: text-bottom;
}

.dash-tab {
  margin: 0px 2px -1px 2px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px 4px 0px 0px;
  background: #2581dc; /*#dc8d25;*/
  color: #ffffff;
  text-align: center;
  float: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid #2581dc;
}

.dash-tab:hover, .dash-tab:active {
  color: #666;
  background: #99c9fa;
  border: 1px solid #99c9fa;
}

#dash-tab1 {
  background: #99c9fa;
  border: 1px solid #99c9fa;
  color: #666;
}

.dtab {
  width: inherit;
  height: 450px;
  overflow-y: scroll;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: #99c9fa; /*#2581dc;*/
}

#dtab2, #dtab3 {
  display: none;
}

.ad-block {
  width: 95%;
  padding: 4px;
  box-shadow: 0px 0px 8px #eeeeee;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 10px auto 0px;
  vertical-align: top;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ad-block img {
  width: 180px;
  border-radius: 3px;
  float: left;
}

.ad-block-header {
  width: 100%;
  /*background: blue;*/
}

.ad-block-body {
  vertical-align: middle;
  min-height:70px;
  /*background: red;*/
}

.ad-block-info {
  padding-left: 5px;
  /*background: green;*/
  min-height: 70px;
  float: left;
}

.ad-block-info-child {
  margin-bottom: 4px;
  display: block;
  /*background: red;*/
  width: 400px;
}

.ad-block-info-child section {
  border: 1px solid #ccc;
}
.ad-block-info-child input {padding: 5px;}
.ad-block-info-child section, 
.ad-block-info-child section div {
  display: inline-block;
}

.ad-block-info-child section div:first-of-type {
    background-color: #ddd;
    padding: 4px;
}

.ad-block-info-child section div:nth-of-type(2) {
  padding: 4px;
  /*background: brown;*/
}

.ad-block-info button {
  padding: 6px;
  background: #2581dc;
  color: white;
  border: 1px solid #2581dc;
  cursor: pointer;
  border-radius: 4px;
}

.bw {background: white;}

  
@media screen and (min-width: 800px) {
    h1 { font-size: 2rem; }
    article { float: left; }
    nav { float: right; }
    nav ul li {
        float: left;
        /*position: relative;*/
    }
    .nav-list { display: block !important;}

    /* For desktop: */
    .col-1, .akol-1 {width: 8.33%;}
    .col-2, .akol-2 {width: 16.66%;}
    .col-3, .akol-3, .dkol-3 {width: 25%;}
    .col-4, .akol-4 {width: 33.33%;}
    .col-5, .akol-5 {width: 41.66%;}
    .col-6, .akol-6 {width: 50%;}
    .col-7, .akol-7 {width: 58.33%;}
    .col-7-5, .akol-7-5{width: 62.5%}
    .col-8, .akol-8 {width: 66.66%;}
    .col-9, .akol-9 {width: 75%;}
    .col-10, .akol-10 {width: 83.33%;}
    .col-11, .akol-11 {width: 91.66%;}
    .col-12, .akol-12 {width: 100%;}
}

/* Extra small devices "mobile phones" */
@media only screen and (max-width: 799px) {
    nav {
        width: 100%;
        padding: 70px 0 15px;
      }

    nav ul {
        display: none;
        position: absolute;
        width: 100%;
    }

    nav ul li {
        float: none;
        width: 100%;
      }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
      }

    .nav-mobile {
        display: block;
    }

    .dash-tab-box {
      text-align: center;
    }

    .dash-tab {
      margin: 0px 2px -1px 2px;
      width: 30%;
      margin: auto;
      vertical-align: middle;
      float: none;
      display: inline-block;
    }

    #dash-tab1 {
      border-bottom: 1px solid #ffffff;
    }

} 
 
/* Extra small devices "Tabs" */
@media only screen and (max-width: 992px) {} 
/* Extra small devices "Tabs" */
@media only screen and (max-width: 1200px) {}
 
@media only screen and (max-width: 1920px) {}
